/*=================Importing less files============*/
@import 'mixins';
@import 'normalize';
@import 'bootstrap';

/*-------------------------------------------------*/
/* =  General
/*-------------------------------------------------*/

body {
	font-family: 'PT Sans';
}


/*-------------------------------------------------*/
/* =  Header
/*-------------------------------------------------*/


/*-------------------------------------------------*/
/* =  END Header
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/* =  Sidebar
/*-------------------------------------------------*/


/*-------------------------------------------------*/
/* =  END Sidebar
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/* =  Content
/*-------------------------------------------------*/


/*-------------------------------------------------*/
/* =  END Content
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/* =  Footer
/*-------------------------------------------------*/


/*-------------------------------------------------*/
/* =  END Footer
/*-------------------------------------------------*/

/* Back to top */

/*#bttop {
	
	background-image: url('../img/icon/backtotop.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	height: 49px;
	width: 49px;
	padding:5px;
	position:fixed;
	bottom:35px;
	right:10px;
	cursor:pointer;
	display:none;
	text-indent: -9999px;
	&:hover {
		background-image: url('../img/icon/backtotophv.png');
	}
}*/